only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=esbuild
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*@prisma*
shamefully-hoist=true
